# Install base packages first
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
fastapi==0.100.0
uvicorn==0.23.0
langchain==0.0.234
tiktoken==0.4.0
# Install packages for data processing next
pinecone-client==2.2.2
openai==0.27.8
unstructured==0.8.1
unstructured-inference==0.5.5
detectron2@git+https://github.com/facebookresearch/detectron2.git@v0.6
pytest==7.4.0